<blockquote class="tweet-card">
	<div class="tweet-header">
		<a class="tweet-profile" href="https://twitter.com/{{user_screen_name}}">
			<img src="{{user_profile_image_uri}}" alt="Avatar for {{user_screen_name}}">
		</a>
	</div>
	Rendering Tweet {{tweet_id}}
</blockquote>
